/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body {
  margin: 0;
  font-size: 14px;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding:0;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main {
  margin: 0 auto;
}

header, footer {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
  color: white;
}

header section {
  max-width: 650;
}

header img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

h1 {
  margin: 1em 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	color: #509e98;
}

/* p {
	color: grey;
}*/

a {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
  color: #509e98;
}

a:active {
  color: #509e98;
}

span {
 color: #A7B8BF;
 font-weight: normal;
}

main section{
  border-bottom: 1px solid green;
}

main section:last-child {
  border-bottom: none;
}

main {
  max-width: 1140px;
}

.experience_item {
  padding-bottom: 20px;	
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  color: #509e98;
  font-weight: 500;
  flex: 0 0 25%;
  max-width: 25%;
}

.experience_item .description {
  flex: 0 0 70%;
  max-width: 100%
}

.experience_item .description p {
	margin-top: 0;
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .column {
  text-align: left;
  flex: 0 0 33,3%;
  max-width: 30%;
}

ul {
	list-style-type: none;
	margin-block-start: 0.5em;
	padding-inline-start: 0;
}

ul li:before {
	content: "○";
	padding-right: 0.5em;
	color: green;
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

}
