/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/

body {
  margin: 0;
  font-size: 16px;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  font-family: 'Raleway', sans-serif;
}

article {
  padding:0;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
  color: white;
}

header section {
  max-width: 650;
}

header img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
	font-weight: bold;
	text-transform: uppercase;
	color: #509e98;
}

a {
  color: black;
}

a:visited {
  color: grey;
}

a:hover {
  color: #509e98;
}

a:active {
  color: #509e98;
}

span {
 color: #A7B8BF;
 font-weight: normal;
}

main section{
  border-bottom: 1px solid green;
}

main section:last-child {
  border-bottom: none;
}

main {
  max-width: 1140px;
}

.course {
padding-bottom: 20px;	
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.title {
  color: #509e98;
  font-weight: 500;
  flex: 0 0 33.3%;
  max-width: 100%
}

.course .description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 70%
}

.course .description p {
	margin-top: 0;
	padding-left: 0;
}

.skills {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills .column {
word-break: keep-all;
text-align: left;
  flex: 0 0 33,3%;
  max-width: 30%;
}

ul {
  margin-block-start: 0.5em;
  padding-inline-start: 15px;
}

footer {
  border-top: 5px;
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-image: url('img/bg.jpg');
  background-position: fixed;
  color: white;
}

footer a {
	color: white;
}
